*{
    margin: 0;
    padding: 0;
}


.container {
    width: 800px;
    height: 100vh;
    background-color: forestgreen;
    margin: 0, auto;
}

.gallery{
    display:flex;
    justify-content: space-around;
}
.gallery_item {
    width: 150px;
}
@media  SCREEN and (max-width:390px) {
    .container{
        background-color: chocolate;
        width: auto;
    
    }
    .gallery{
        flex-direction: column;
        align-items: center;
    }
    .gallery_item{
        margin-bottom: 20px;
    }
}
